body {
    font-family: Arial, Helvetica, sans-serif;
}

#education li,
#projects li,
#achievemnts li {
    display: flex;
}

#education li .label,
#projects li .label {
    font-weight: bold;
    margin-right: 5px;
}

#education li section,
#projects li section {
    margin-bottom: 15px;
}